@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap");
@import "tailwindcss";

@theme inline {
  --font-heading :"Fustat", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
}
